html {
    font-size: 62.5%;
}

body {
    font-size: $m-size;
    font-family: Helvetica, Artial, sans-serif;
}

h1 {
    font-size: 2.2rem;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.is-active {
    font-weight: bold;
}